{% extends 'base_characteristics_description.html' %}

{% block characteristics_description %}
<h1>{{ title }}</h1>

<ul>

    <li>

        Основная информация
        Цвет белый; серый
        Общие характеристики
        Количество предметов в упаковке 1
        Материалы
        Материал изделия трикотаж
        Дополнительная информация
        Высота куклы 32 см
        Страна производства Россия
        Комплектация свитшот для куклы 1 шт.
        Описание
        Одежда для кукол марки Paola Reina 32 см

        В комплекте свитшот из трикотажа цвета графит (с синим подтоном). На груди термотрансфер ТОКИО.

        ВНИМАНИЕ: категорически нельзя утюжить надпись с лицевой стороны, надпись расплавится и слезет, свитшот будет
        испорчен

        Свитшот укороченной длины, хорошо смотрится с юбками, джинсами, шортами. Полностью распашной по спине, застёжки
        кнопки

        При бережном обращении свитшот прослужит вам бесконечно долго

        Кукла, джинсы и обувь не являются частью комплекта.

        Все швы обработаны на оверлоке, чтобы не было их осыпания.
        Подходит на все виды тел для Паола Рейна: на классическое и шарнирное фабричное, на шарнирное корейское и
        авторское шарнирное БЖД.

        Каждое изделие отшивается и упаковывается с большой любовью к клиентам. Комплект станет прекрасным подарком для
        любого ценителя кукол.

    </li>

</ul>
{% endblock %}