{% extends 'base_characteristics_description.html' %}

{% block characteristics_description %}
<h1>{{ title }}</h1>

<ul>

    <li>

        Основная информация
        Цвет белый; черный
        Общие характеристики
        Количество предметов в упаковке 1 - блузка
        Материалы
        Материал изделия хлопок
        Дополнительная информация
        Высота куклы 32 см
        Страна производства Россия
        Комплектация кукольная блузка 1 шт
        Описание
        Одежда для кукол марки Paola Reina 32 см

        Блузка белого цвета в горошек.

        Блузку украшает шикарный бант на горловине, который можно по-разному завязывать. Будет великолепно смотреться
        как самостоятельный предмет гардероба, так и в паре с жилетками и кардиганами. Линия плеча спущена, рукав
        фонарик на резинке. Блузка приталенная - сверху смотрится свободной и воздушной - на талии сидит практически по
        фигуре. Благодаря такому крою юбку удобно носить в заправленном виде - не образуется лишнего объема в районе
        талии.

        Блузка полностью распашная сзади, застежки кнопки. Рукав фонарик на резинке внизу. Плечо спущено. Блузка
        умеренно свободного силуэта. Можно носить на выправку, с пояском. Можно заправить в юбку или брюки

        Кукла, брюки и обувь не являются частью комплекта.

        Все швы обработаны на оверлоке, чтобы не было их осыпания.
        Подходит на все виды тел для Паола Рейна: на классическое и шарнирное фабричное, на шарнирное корейское и
        авторское шарнирное БЖД.

        Каждое изделие отшивается и упаковывается с большой любовью к клиентам. Комплект станет прекрасным подарком для
        любого ценителя кукол.

    </li>

</ul>
{% endblock %}


