{% extends 'base_characteristics_description.html' %}

{% block characteristics_description %}
<h1>{{ title }}</h1>

<ul>

    <li>

        Основная информация
        Цвет белый
        Общие характеристики
        Количество предметов в упаковке 1
        Материалы
        Материал изделия трикотаж; пластик; искусственный мех
        Дополнительная информация
        Высота куклы 32 см
        Страна производства Россия
        Комплектация меховые наушники для куклы
        Описание
        Наушники подходят куклам Paola Reina 32 см и куклам Любимая Подружка 37 см

        Наушники имеют твёрдый ободок внутри. Сама меховые немного двигаются вокруг оси, при этом крепко держатся на
        основании. Подвижность необходима для того, чтобы наушники можно было красиво расположить на ушках куклы,
        немного повернув их под нужным углом. И тогде они будут плотно обхватывать лицо куклы и хорошо сидеть на голове,
        не сползая

        Кукла, одежда и обувь не являются частью комплекта.

        Каждое изделие отшивается и упаковывается с большой любовью к клиентам.

        Наушники станут прекрастным дополнением к нашим зимним комплектам.

    </li>

</ul>
{% endblock %}


