{% extends 'base.html' %}

{% block content %}
<h1>{{ title }}</h1>

{% include 'dolls/includes/nav_for_footwear.html' %}

<ul>
    {% for i in typ_footwear %}
    {% if i.typ == foot_type %}

    <li>
        <h2>{{ i.title }}</h2>
        <p><a href = "{% url 'post_footwear' i.id %}">{{ i.content }}</a></p>
        {% if not forloop.last %}
        <hr>
        {% endif %}

    </li>
    {% endif %}
    {% endfor %}
</ul>

{% include 'dolls/includes/nav_for_footwear.html' %}

{% endblock %}


