{% extends 'base.html' %}

{% block content %}
<h1>{{ title.typ }}
</h1>

{% include 'dolls/includes/nav_for_clothes.html' %}

<ul>
    {% for i in typ_clothing %}
    {% if i.selection_clothes.slug in title.slug %}

    <li>
        <h2>{{ i.title }}</h2>
        <p><a href = "{{ i.get_absolute_url }}"> Характеристики и описание </a></p>
        {% if not forloop.last %}
        <hr>
        {% endif %}

    </li>
    {% endif %}
    {% endfor %}

</ul>

{% include 'dolls/includes/nav_for_clothes.html' %}

{% endblock %}


