{% extends 'base_characteristics_description.html' %}

{% block characteristics_description %}
<h1>{{ title }}</h1>

<ul>

    <li>

        Основная информация
        Цвет розовый
        Общие характеристики
        Количество предметов в упаковке 2
        Материалы
        Материал изделия натуральная замша; резина
        Дополнительная информация
        Высота куклы 32 см
        Страна производства Россия
        Комплектация Ботинки
        Описание
        Ботинки из натуральной замши, подходят для кукол Paola Reina 32 см.

        Выполнены из замши спокойного пудрового цвета.

        На ножку 5 - 5,5 см. Обувь изготавливается на колодке, разработанной специально для кукол Paola Reina. Ботинки
        со шнурками и микро люверсами. Подошва ботинок - вспененная резина с узором ромбы - придает натуралистичности
        обуви

        Каждое изделие отшивается и упаковывается с большой любовью к клиентам.

    </li>

</ul>
{% endblock %}


